*.js
!jest.config.js
*.d.ts
node_modules
.env
.env.*
!.env.example
cdk.context.json
*.log

# CDK asset staging directory
.cdk.staging
cdk.out

# Include Lambda and Prisma files
!lambda/**/*.js
!layers/**/*.js
layers/zod/dist

!local-prisma/**/*.js

# Don't ignore testing files
!test/**/*.js

!jest.integration.config.js